@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    border: none;
    background: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

nav a {
    text-decoration: none;
}