.Sidebar {
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    border-right: 1px solid #a6a6a6;
    font-family: 'Nunito', sans-serif;

    --width: 350px;
    width: var(--width);
}

.Sidebar::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 500px) {
    .Sidebar {
        --width: 100px;
    }
}