.Chat {
    width: 100%;
    height: 100px;
    cursor: pointer;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Chat:hover {
    background: #e7e7e7;
}

.Info {
    display: flex;
    align-items: center;
}

.Image {
    width: 70px;
    border-radius: 50%;
}

.Body {
    margin-left: 10px;
}

.Avatar {
    background: #d7a57c;
    width: 70px;
    height: 70px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: xx-large;
}