.Password {
    border-radius: 16px;
    margin-bottom: 20px;
    outline: 1px solid;

    display: flex;
    align-items: center;
}

.PasswordInput {
    font-size: x-large;
    outline: none;
    padding: 10px;
    width: 100%;
}

.PassText {
    margin-top: 25px;
    text-align: center;
}

.PassIcon {
    width: 30px;
    height: 30px;
}

.PassButton {
    padding: 0 15px;
    height: 30px;
    cursor: pointer;
}

.Password:focus-within {
    outline-width: 2px;
}