.SearchContent {
    margin-top: 100px;
    padding: 10px;
}

.SearchItem {
    padding: 10px;
    font-size: large;
    border-radius: 16px;
    cursor: pointer;

    display: flex;
    gap: 10px;
}

.SearchItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.Image {
    width: 70px;
    border-radius: 50%;
}

.Avatar {
    background: #d7a57c;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: large;
}

.Text {
    font-weight: 600;
}